{% extends 'base.html' %}
{% load static %}

{% block title %}
Your tasks | Todo
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}
    <h1>Your tasks</h1>
    <div class="grid-x align-spaced bg-secondary">
        {% for task in tasks %}
            <div class="card cell small-4">
                <div class="card-divider">task.name</div>
                <div class="card-section">
                    <p>task.description</p>
                    <h4>task.state</h4>
                </div>
            </div>
        {% endfor %}


        <div class="card cell small-4 bg-primary">
            <div class="card-divider c-secondary">task.name</div>
            <div class="card-section">
                <p class="c-secondary">task.description</p>
                <h4 class="c-secondary">task.state</h4>
            </div>
        </div>
    </div>
{% endblock content %}